<div class="video_twig noprint">
	<video  width="{{ width }}" height="{{ height }}" preload="none" poster="{{ videoThumbnail }}" controls="controls" playsinline>
		<source src="{{ viewv2 }}" type="video/mp4" />
	</video>
</div>
