@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IRANYekanX';
  font-weight: normal;
  src: url('../../fonts/IRANYekanX-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'IRANYekanX-bold';
  font-weight: normal;
  src: url('../../fonts/IRANYekanX-Bold.woff2') format('woff2');
}

body {
  font-family: 'IRANYekanX';
}